<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Consultas
    </ion-title>
    <ion-buttons slot="end" *ngIf="dataService.isLoggedIn()">
      <ion-button (click)="presentLogoutConfirm()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Cuentas</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let account of dataService.accounts" [routerLink]="['/account-info', account.id]">
        <ion-label>{{account.name}}</ion-label>
        <p>$ {{account.money}}</p>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Tarjetas</ion-label>
      </ion-list-header>
      <p class="ion-padding">
        No tienes tarjetas.
      </p>
    </ion-list>
</ion-content>
